.App {
  text-align: center;
}

/* Define Color Palette */
:root {
  /* Primary Colors */
  --color-primary-bg: #1a1a2e; /* Midnight Blue */
  --color-secondary-bg: #2e2e3e; /* Charcoal Gray */

  /* Accent Colors */
  --color-accent-aqua: #00ccff; /* Aqua Blue */
  --color-accent-green: #00cc66; /* Emerald Green */
  --color-highlight-yellow: #ffd369; /* Warm Yellow */

  /* Text Colors */
  --color-text-primary: #d1d1e0; /* Light Gray */
  --color-text-secondary: #ffffff; /* White */

  /* Additional Colors */
  --color-hover-dark-green: #00994d; /* Darker Green for Hover */
  --color-hover-dark-aqua: #0088cc; /* Darker Aqua for Hover */
}
